# VS Code setting files
.vscode

# VS Code debugging files
**/*.dSYM

# C Libraries
**/*.o
**/*.so
lib/*.so

# Program Execution File
app/**
!app/*.c

# Makefile
Makefile

# Data Files
data-files/*
!data-files/readme.txt
